html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

footer {
    flex-shrink: 0; 
    width: 100%; 
    text-align: center; 
}



.content-container {
    text-align: center;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    flex-grow: 1; 
}

.site-title {
    font-size: 32px;
}

.items-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.item {
    flex: 0 1 calc(30% - 20px);
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    text-align: left;
}

.item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.item h3, .item p, .item span {
    margin: 5px 0;
}

.item button {
    width: 100%;
    padding: 10px;
    background-color: #007aff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.item button:hover {
    background-color: #0056b3;
}

.bottom-bar {
    background-color: #007aff;
    color: white;
    padding: 20px 0;
    text-align: center;
    display: flex;
    justify-content: center;
}

.bottom-bar-container {
    display: flex;
    justify-content: space-evenly;
    max-width: 1200px;
    margin: 0 auto;
}

.bottom-bar-button {
    padding: 10px 20px;
    color: white;
    background-color: #007aff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    text-align: center;
    display: inline-block;
    margin: 0 10px;
}

.bottom-bar-button:hover {
    background-color: #0056b3;
    color: white;
}
