html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

footer {
    flex-shrink: 0;
    width: 100%;
    text-align: center;
}

.content-container {
    text-align: center;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    flex-grow: 1;
}

.site-title {
    font-size: 32px;
}

.items-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.item {
    flex: 0 1 calc(25% - 20px);
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: left;
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 450px; 
    max-height: 450px;
    box-sizing: border-box;
    width: calc(25% - 20px);
}

.item:hover {
    transform: translateY(-5px);
}

.item img {
    width: 100%;
    height: 200px; 
    object-fit: cover; 
    border-radius: 5px;
    margin-bottom: 10px;
}

.item h3, .item p, .item span {
    margin: 5px 0;
    color: black;
}

.item a {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.item p {
    flex-grow: 1;
    margin-bottom: 10px;
}

.item button {
    width: 100%;
    padding: 10px;
    background-color: #007aff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: auto;
}

.item button:hover {
    background-color: #0056b3;
}

.bottom-bar {
    background-color: #007aff;
    color: white;
    padding: 20px 0;
    text-align: center;
    display: flex;
    justify-content: center;
}

.bottom-bar-container {
    display: flex;
    justify-content: space-evenly;
    max-width: 1200px;
    margin: 0 auto;
}

.bottom-bar-button {
    padding: 10px 20px;
    color: white;
    background-color: #007aff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    text-align: center;
    display: inline-block;
    margin: 0 10px;
}

.bottom-bar-button:hover {
    background-color: #0056b3;
    color: white;
}

@media (max-width: 768px) {
    .items-list {
        flex-direction: column;
        align-items: center;
    }

    .item {
        flex: 0 1 80%;
        margin-bottom: 20px;
        min-height: 450px;
        max-height: 450px;
        width: 80%;
    }

    .item img {
        height: 200px;
    }
}

@media (max-width: 480px) {
    .content-container {
        padding: 10px;
    }

    .item {
        flex: 0 1 100%;
        margin-bottom: 15px;
        min-height: 450px; 
        max-height: 450px;
        width: 100%;
    }

    .item img {
        height: 200px;
    }

    .item button {
        margin-top: 10px;
    }

    .top-bar, .bottom-bar {
        flex-direction: column;
        align-items: center;
        padding: 15px;
    }

    .top-bar form {
        flex-direction: column;
        align-items: center;
    }

    .top-bar-left, .bottom-bar-container {
        flex-direction: column;
        align-items: center;
    }

    .top-bar a, .bottom-bar-button {
        margin: 5px 0;
    }
}
